@import '../../node_modules/bootstrap/scss/functions';

// Variables

// Brand Colors
$brown-100: #e5d1c7;
$black-100: #1d1a19;
$burgundy-light-theme: #4e1710;
$burgundy-dark-theme: #591610;
$brown-200: #cfac9a;
$brown-300: #bb8e78;
$brown-400: #a5755d;
$brown-500: #89604c;
$brown-600: #735241;
$brown-700: #61483b;
$brown-800: #33241c;
$brown-900: #251a15;

// Fonts
$font-family-base: 'Manrope', sans-serif;
$headings-font-family: 'Ibarra Real Nova', serif;

// Perfect fifth typescale

$fs-XL: clamp(2.5rem, 8vw + 1rem, 8rem); // 5.0625
$fs-L: clamp(2rem, 7vw + 0.75rem, 5rem); // 3.375
$fs-M: clamp(1.5rem, 6vw + 0.5rem, 3.375rem); // 2.25
$fs-S: clamp(1.25rem, 5vw + 0.25rem, 2.25rem); // 1.5
$fs-XS: clamp(1rem, 4vw + 0.1rem, 1.25rem); // 1
$fs-XXS: clamp(0.667rem, 4vw + 0.1rem, 1rem); // 1

@import '../../node_modules/bootstrap/scss/variables';
